h1 {
  background: url(www/enap_slide1.png);
  background-size: 220px 160px;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: top left; 
  padding: 40px 0 75px 0;
  margin: -20px -100px -50px -100px;
  text-align: center;
}

a {
  color: darkgreen;
}

.remark-slide-number {
  background: url(www/enap_slide2.png);
  background-size: 106px 56px;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 30px 20px 60px 30px;
  margin: 0 -15px -5px 0;
}

